<section class="header-section container">
  <header class="header">
    <div class="header-container">
      <a href="#" class="logo">
        <div class="logo-image">
          <img src="img/header/logo-header-mobile-1x.png" alt="Jefferson*" />
        </div>
        <span class="logo-text">jefferson*</span>
      </a>

      <button class="menu-toggle" aria-label="Відкрити меню">
        <span class="menu-toggle-text">Menu</span>
        <img
          class="menu-toggle-img"
          src="img/header/menu-open-btn.svg"
          alt="Menu Icon"
        />
      </button>
      <div class="btn-order-container">
        <a href="#work-together" class="order-button desktop-order-button"
          >Order the project</a
        >
      </div>

      <!-- Меню для мобільних -->
      <div class="menu menu-mobile">
        <div class="menu-header">
          <span class="menu-title"></span>
          <button class="menu-close" aria-label="Close Menu">
            <img src="img/header/menu-close.svg" alt="Menu Close Icon" />
          </button>
        </div>

        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="#about" class="navigation-link">About me</a>
            </li>
            <li class="navigation-item">
              <a href="#benefits" class="navigation-link">Benefits</a>
            </li>
            <li class="navigation-item">
              <a href="#projects" class="navigation-link">Projects</a>
            </li>
            <li class="navigation-item">
              <a href="#faq" class="navigation-link">FAQ</a>
            </li>
          </ul>
        </nav>

        <a href="#work-together" class="order-button mobile-order-button"
          >Order the project</a
        >
      </div>

      <!-- Меню для планшетів і десктопів -->
      <div class="menu menu-desktop">
        <div class="menu-header">
          <span class="menu-title"></span>
          <!-- <button class="menu-close" aria-label="Close Menu">
            <img src="../img/header/menu-close.svg" alt="menu close icon" />
          </button> -->
        </div>
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="#about" class="navigation-link">About Me</a>
            </li>
            <li class="navigation-item">
              <a href="#benefits" class="navigation-link">Benefits</a>
            </li>
            <li class="navigation-item">
              <a href="#projects" class="navigation-link">Projects</a>
            </li>
            <li class="navigation-item">
              <a href="#faq" class="navigation-link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="menu-overlay"></div>
    </div>
  </header>
</section>
