<section class="container">
  <div class="hero-bg">
    <h1 class="greeting">Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
    <ul class="social-media-list">
      <li><a class="hero-social-link" href="">IG</a></li>
      <li><a class="hero-social-link" href="">FB</a></li>
      <li><a class="hero-social-link" href="">YT</a></li>
      <li><a class="hero-social-link" href="">GH</a></li>
      <li><a class="hero-social-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
    </ul>
  </div>
</section>
