<!-- MODAL WINDOW -->

<div id="modal" class="modal-overlay">
  <div class="modal">
    <button id="closeBtn" type="button" class="close-btn">
      <svg class="icon-x" width="22" height="22">
        <use href="../img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal-content">
      <h3 class="title-modal">Thank you for your inerest in cooperation!</h3>
      <p class="text-modal">
        The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay
        in
        touch.
      </p>
    </div>
  </div>
</div>