.about {
  padding-top: 64px;
  padding-bottom: 32px;
}

.about-icon {
  stroke: #fafafa;
}

.about-icon-btn {
  stroke: rgba(250, 250, 250, 0.4);
}

.text-1 {
  margin-bottom: 32px;
}

.about-content {
  margin-bottom: 32px;
}

.about-text {
  padding: 32px;
  background-color: #242527;
  border-radius: 24px;
  max-width: 343px;
  height: 500px;
  margin-bottom: 16px;
}

.intro {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.highlight {
  color: #c6e327;
}

.highlight-2 {
  color: rgba(250, 250, 250, 0.4);
}

.about-image {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.about-image img {
  width: 100%;
  border-radius: 24px;
  height: 500px;
}

/* ========== ACCORDION ========== */
.accordion-about {
  list-style: none;
  padding: 0;
  margin-bottom: 32px;
}

.accordion-item-about {
  border-bottom: 1px solid #444;
}

.accordion-header-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  padding: 0;
  height: 68px;
}

.accordion-content-about {
  max-height: 700px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  color: #fafafa;
  padding-bottom: 20px;
  letter-spacing: -0.02em;
}

.accordion-item-about.active .accordion-content-about {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}


.about-icon-accordion {
  width: 36px;
  height: 36px;
  background-size: cover;
  transition: transform 0.3s ease;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
}

.accordion-header-about .arrow-about {
  transform: rotate(0);
}

.accordion-item-about.active .arrow-about {
  transform: rotate(180deg);
}

.accordion-item-about.active .accordion-content {
  display: block;
}

/* ========== SWIPER ========== */
.skills {
  max-width: 343px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-about {
  width: 260px;
  height: 130px;
}

.swiper-button-next-about {
  width: 28px;
  height: 28px;
}

.swiper-slide-about {
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 53px 0;
}

/* ========== MEDIA QUERIES ========== */
@media (min-width: 768px) {
  .about {
    max-width: 768px;
    padding-bottom: 48px;
  }

  .text-1 {
    margin-bottom: 16px;
  }

  .about-text {
    padding: 64px;
    max-width: 704px;
    height: 700px;
  }

  .intro {
    font-size: 38px;
    line-height: 1.05;
  }

  .about-image {
    margin-bottom: 64px;
  }

  .about-image img {
    height: 700px;
  }

  .accordion-about {
    margin: 64px 0;
  }

  .skills {
    max-width: 704px;
  }

  .swiper-about {
    width: 600px;
    height: 200px;
  }

  .swiper-slide-about {
    font-size: 20px;
    padding: 88px 0;
  }

  .swiper-button-next-about {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .about {
    max-width: 1440px;
    padding-top: 96px;
    padding-bottom: 82px;
  }

  .text-1 {
    margin-bottom: 32px;
  }

  .about-content {
    display: flex;
    gap: 16px;
    margin-bottom: 96px;
  }

  .about-text {
    padding: 64px;
    width: 704px;
    height: 700px;
  }

  .accordion-about {
    margin: 96px 0;
  }


  .accordion-content-about {
    padding-bottom: 32px;
    margin-left: 696px;
    margin-right: 68px;
    width: 612px;
    height: 320px;
    margin-bottom: 32px;
  }

  .skills {
    max-width: 1376px;
    padding: 0 32px;
  }

  .swiper-about {
    width: 1200px;
  }
}