.about {
  padding-top: 64px;
  padding-bottom: 32px;
}

.text-1 {
  margin-bottom: 32px;
}

.about-content {
  margin-bottom: 32px;
}

.about-text {
  padding: 32px;
  background-color: #242527;
  border-radius: 24px;
  max-width: 343px;
  height: 500px;
  margin-bottom: 16px;
}

.intro {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.highlight {
  color: #c6e327;
}

.highlight-2 {
  color: rgba(250, 250, 250, 0.4);
}

.about-image {
  margin-bottom: 32px;
}

.about-me-image {
  overflow: hidden;
  border-radius: 24px;
  height: 500px;
}

/* ========== ACCORDION ========== */
.accordion-about {
  margin-bottom: 32px;
}
.ac-about {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.ac-about:last-child {
  margin-bottom: 0;
}

.ac-header-about {
}
.ac-trigger-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  position: relative;
}
.header-about {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.ac-panel-about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 20px;
  overflow: hidden;
}

.ac-text-about {
  color: #fafafa;
}
/* Кнопка */

.btn-about {
  background-color: #242527;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 9px;

  .about-icon-accordion {
    stroke: #fafafa;
  }
}

.ac.is-active .about-icon-accordion {
  transform: rotate(180deg);
}

/* ========== SWIPER ========== */
.skills {
  max-width: 343px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-about {
  width: 260px;
  height: 130px;
}

.swiper-button-next-about {
  width: 28px;
  height: 28px;
}

.swiper-slide-about {
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 53px 0;
}

.about-icon-btn {
  stroke: rgba(250, 250, 250, 0.4);
}

/* ========== MEDIA QUERIES ========== */
@media (min-width: 768px) {
  .intro {
    font-size: 38px;
    line-height: 1.05;
  }

  .about-text {
    padding: 64px;
    max-width: 704px;
    height: 700px;
  }

  .about-image {
    margin-bottom: 64px;
  }

  .about-image img {
    height: 700px;
  }

  /* Accordion */

  .accordion-about {
    margin-bottom: 64px;
  }

  .ac-about {
    margin-bottom: 32px;
  }

  .ac-trigger-wrapper {
    margin-bottom: 8px;
  }

  .ac-panel-about {
    gap: 16px;
    margin-bottom: 32px;
  }

  /* Кнопка */

  .btn-about {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  /* Swiper */

  .skills {
    max-width: 704px;
  }

  .swiper-about {
    width: 600px;
    height: 200px;
  }

  .swiper-slide-about {
    font-size: 20px;
    padding: 88px 0;
  }

  .swiper-button-next-about {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1440px) {
  .about-content {
    display: flex;
    gap: 16px;
    margin-bottom: 96px;
  }

  .about-image {
    margin-bottom: 0;
  }

  /* Accordion */

  .accordion-about {
    margin-bottom: 96px;
  }

  .ac-panel-about {
    gap: 32px;
    padding-left: 50%;
  }

  .ac-text-about {
    max-width: 612px;
  }

  /* Swiper */

  .skills {
    max-width: 1376px;
    padding: 0 32px;
  }

  .swiper-about {
    width: 1200px;
  }
}
