.benefits-container-wrapp {
    display: flex;
    flex-direction: column;
    /* margin-left: auto;
    margin-right: auto; */
}

.benefits-title {
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px; 
    white-space: nowrap; 
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.benefits-list-item {
    padding: 24px;
    background-color: #242527;
    border-radius: 20px;
}

.benefits-subtitle {
    font-size: 20px;
    margin-bottom: 8px;
}

.benefits-button {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 36px;
    width: 187px;
    height: 55px;
    background-color: transparent;
    display: inline-flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    color: var(--main-text);
    
}

@media screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 64px;
        flex-wrap: wrap;
    }

    .benefits-list-item {
        width: calc((100% - 16px) / 2)
    }
}

@media screen and (min-width: 1440px) {
    .benefits-container-wrapp {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
    }

    .benefits-wrapp-listandbttn {
        width: 680px;
    }
}




